body {
    background-color: black;
}

h1 {
    font-family: Protest Guerrilla;
    font-size: 70px;
    background: linear-gradient(to bottom, rgb(0, 247, 255), rgb(81, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(81, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: Protest Guerrilla;
    font-size: 50px;
    background: linear-gradient(to bottom, rgb(0, 247, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tecnosambalabel {
    font-family: Protest Guerrilla;
    font-size: 50px;
    background: linear-gradient(to bottom, rgb(72, 255, 0), rgb(47, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo {
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.repo-div {
    height: 400px;
    width: 350px;
    /*background-image: linear-gradient(to right, rgb(81, 255, 0), rgb(248, 150, 248));*/
    border-radius: 10%;
    position: absolute;
}

.repo-title {
    font-family: Protest Guerrilla;
    padding-left: 8%;
    font-size: 35px;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(68, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.repo-description {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-left: 20%;
}

.repo-link {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.repo-div-description {
    margin-left: 30%;
}