#main-container {
    background-image: url(images/wallpaper.png);
    width: 100vw;
    height: 100vh;
}

#welcome {
    font-family: "Audiowide", sans-serif;
    font-size: 300%;
    margin-top: 15%;
    margin-left: 5%;
    
}

#pos-welcome {
    font-family: "Audiowide", sans-serif;
    font-size: 150%;
    margin-left: 7%;
}

#typing-text {
    font-family: "Audiowide", sans-serif;
    animation: typing 3s steps(40, end) forwards;
    font-size: 150%;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

#typing-text::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


#menu {
    font-family: "Audiowide", sans-serif;
    background-color: black;
    color: white;
    height: 7vh;
    width: 100%;
    display: flex;
    gap: 2vw;
    position: absolute;
}


.menu-element {
    padding-top: 1vh;
    border-radius: 4px;
    cursor: pointer;
}

#first:hover {
    background-color: grey;
    height: 7vh;
    width: 11vw;
    border-radius: 4px;
}

#second:hover {
    background-color: grey;
    height: 7vh;
    width: 15vw;
    border-radius: 4px;
}

#third:hover {
    background-color: grey;
    height: 7vh;
    width: 9vw;
    border-radius: 4px;
}

#logo {
    height: 7vh;
    width: auto;
}

#products-container {
    height: 100%;
    width: 100%;
    background-color: white;
}

.section-title {
    font-family: "Audiowide", sans-serif;
    padding-top: 2vh;
    padding-left: 40vw;
}

#sampad-div {
    font-family: "Audiowide", sans-serif;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 6vh;
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

#sampad-div:hover {
    animation: borderColor 0.5s;
    animation-fill-mode: forwards;
}

@keyframes borderColor {
    from { border: 1.5px solid black; }
    to {border: 1.5px solid blue;}
}

.logoText {
    display: flex;
    gap: 2vw;
}

.btn-primary {
    color: black;
    background-color: white;
}

.os-title-logo {
    display: flex;
    gap: 1vw;
    font-size: 3vw;
}

#open-source-container {
    margin-top: 10vh;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

#open-source-explanation {
    margin-top: 7vh;
    margin-left: 4vw;
    margin-right: 4vw;
    position: relative;
    overflow: hidden;
}


p {
    font-family: "Audiowide", sans-serif;
    font-size: 3vh;
}

::-webkit-scrollbar {
    display: none;
}

hr {
    height: 0.6vh;
    width: 70vw;
    margin-left: 14vw;
    background: linear-gradient(to right, #000000, #4d4141);
    border-radius: 10px;
}

#contact {
    padding-top: 3vh;
    padding-left: 3vw;
    font-family: "Audiowide", sans-serif;
}

#contact-forms {
    padding-left: 2vw;
    padding-top: 2vh;
}

@keyframes contact-hover {
    from { background-color: white; }
    to { background-color: grey; }
}

@keyframes contact-not-hover {
    from { background-color: grey; }
    to { background-color: white; }
}

.contact-icon:hover {
    animation: contact-hover 0.5s;
    animation-fill-mode: forwards;
    border-radius: 50vw;
    cursor: pointer;
}


.contact-icon:not(:hover) {
    animation: contact-not-hover 0.5s;
    animation-fill-mode: forwards;
    border-radius: 50vw;
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }
    to {
        opacity: 1; scale: 100%;
    }
}
