body {
    background-color: black;
}

h1 {
    font-family: Protest Guerrilla;
    font-size: 70px;
    background: linear-gradient(to bottom, rgb(0, 247, 255), rgb(81, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(81, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: Protest Guerrilla;
    font-size: 50px;
    background: linear-gradient(to bottom, rgb(0, 247, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tecnosambalabel {
    font-family: Protest Guerrilla;
    font-size: 50px;
    background: linear-gradient(to bottom, rgb(72, 255, 0), rgb(47, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo {
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.repo-div {
    height: 400px;
    width: 350px;
    /*background-image: linear-gradient(to right, rgb(81, 255, 0), rgb(248, 150, 248));*/
    border-radius: 10%;
    position: absolute;
}

.repo-title {
    font-family: Protest Guerrilla;
    padding-left: 8%;
    font-size: 35px;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(68, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.repo-description {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.repo-button {
    font-family: 'Poppins', sans-serif;
    margin-left: 30%;
    margin-top: 10%;
    background-image: linear-gradient(to top, rgb(0, 255, 106), rgb(36, 191, 196));
    border-width: 0;
}

.repo-div-description {
    margin-left: 12%;
}

.news-div {
    margin-top: 30%;
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: grey;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    margin-left: 90%;
  }
  .menu-button:hover {
    background-color: white;
  }
  
  .menu-button span {
    display: block;
    height: 2px;
    width: 30px;
    margin: 7px 0;
    background: #333;
  }



.nav {
    position: fixed;
    top: 60px;
    right: 60px;
    background-color: grey;
    border-radius: 10%;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.social-link {
    font-size: 150%;
    font-family: Protest Guerrilla;
    border-radius: 10%;
    flex: 1;
}

.social-link:hover {
    background-color: white;
}

.news {
    width: 1000px;
    height: 270px;
    margin-left: 7%;
    border-radius: 9%;
}

.news-title {
    font-family: Protest Strike;
    background: linear-gradient(to left, rgb(0, 225, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 3%;
}

.news-text {
    padding-left: 3%;
}

.news-more {
    border: 0;
    border-radius: 40%;
    color: transparent;
    margin-left: 3%;
}
.news-more {
    border: 0;
    border-radius: 40%;
    color: transparent;
    margin-left: 3%;
}
